<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% load static %}
        <title>Trendo - The Unique Fashion</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="Trendo">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logo/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logo/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logo/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/logo/site.webmanifest' %}">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="{% static 'css/vendors.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/icon.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
        <link rel="stylesheet" href="{% static 'demos/clothing-store/clothing-store.css' %}" />
    </head>
    <body data-mobile-nav-style="classic">
        
        {% include 'components/navbar.html' %}

        <!-- start page title -->
        <section class="page-title-center-alignment ipad-top-space-margin cover-background position-relative py-0" style="background-image: url({% static 'images/banners/blog-banner.png' %})">
            <div class="container">
                <div class="row flex-column align-items-center justify-content-center h-500px md-h-400px sm-h-300px">
                    <div class="col-12 text-center position-relative page-title-extra-large">
                        <h1 class="alt-font ls-minus-1px text-white d-inline-block mb-10px mt-3 md-mt-50px">Clothing blog</h1>
                    </div>
                    <div class="col-12 breadcrumb breadcrumb-style-01 text-white d-flex justify-content-center">
                        <ul>
                            <li><a href="{% url 'home' %}" class="text-white">Home</a></li> 
                            <li>Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title -->
        <!-- start section -->
        <section>
            <div class="container"> 
                <div class="row">
                    <div class="col-12">
                        <ul class="blog-classic blog-wrapper grid-loading grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large" data-anime='{ "el": "childs", "translateY": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                            <li class="grid-sizer"></li>
                            
                            {%  for blog in blogs %}
                            <li class="grid-item">
                                <div class="card bg-transparent border-0 h-100">
                                    <div class="blog-image position-relative overflow-hidden">
                                        <a href="{% url 'blog_detail' blog.slug %}"><img src="{{ blog.image.url }}" alt="" /></a>
                                    </div>
                                    <div class="card-body px-0 pt-30px pb-30px sm-pb-15px">
                                        <span class="mb-10px d-block"><a href="#" class="blog-date">{{ blog.posted_on }}</a></span>
                                        <a href="{% url 'blog_detail' blog.slug %}" class="card-title fs-18 fw-500 text-dark-gray d-inline-block w-75 xl-w-85 lg-w-100">{{ blog.title }}</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            
                        </ul>
                        <div class="row">
                            <div class="col-12 mt-2 d-flex justify-content-center">
                                <ul class="pagination pagination-style-01 fs-13 mb-0">
                                    <!-- Previous -->
                                    {% if blogs.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ blogs.previous_page_number }}">
                                                <i class="feather icon-feather-arrow-left fs-18 d-xs-none"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link">
                                                <i class="feather icon-feather-arrow-left fs-18 d-xs-none"></i>
                                            </span>
                                        </li>
                                    {% endif %}

                                    <!-- Page Numbers -->
                                    {% for num in blogs.paginator.page_range %}
                                        {% if blogs.number == num %}
                                            <li class="page-item active">
                                                <span class="page-link">{{ num }}</span>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    <!-- Next -->
                                    {% if blogs.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ blogs.next_page_number }}">
                                                <i class="feather icon-feather-arrow-right fs-18 d-xs-none"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link">
                                                <i class="feather icon-feather-arrow-right fs-18 d-xs-none"></i>
                                            </span>
                                        </li>
                                    {% endif %}

                                </ul>

                            </div> 
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        
        {% include 'components/footer.html' %}

        <!-- javascript libraries -->
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendors.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>