<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% load static %}
        <title>Trendo - The Unique Fashion</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="Trendo">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logo/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logo/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logo/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/logo/site.webmanifest' %}">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="{% static 'css/vendors.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/icon.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
        <link rel="stylesheet" href="{% static 'demos/clothing-store/clothing-store.css' %}" />
    </head>
    <body data-mobile-nav-style="classic">
        
        {% include 'components/navbar.html' %}

        <!-- start page title -->
        <section class="page-title-center-alignment ipad-top-space-margin cover-background position-relative py-0" style="background-image: url({% static 'images/banners/contact-banner.png' %})">
            <div class="container">
                <div class="row flex-column align-items-center justify-content-center h-500px md-h-400px sm-h-300px">
                    <div class="col-12 text-center position-relative page-title-extra-large">
                        <h1 class="alt-font ls-minus-1px text-white d-inline-block mb-10px mt-3 md-mt-50px">Contact</h1>
                    </div>
                    <div class="col-12 breadcrumb breadcrumb-style-01 text-white d-flex justify-content-center">
                        <ul>
                            <li><a href="{% url 'home' %}" class="text-white">Home</a></li> 
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title -->
        <!-- start section --> 
        <section class="position-relative overflow-hidden pb-0">
            <div class="container">
                <div class="row justify-content-center mb-9 sm-mb-20">
                    <div class="col-xl-3 col-lg-12 position-relative z-index-2 pt-30px lg-pt-0 pb-50px sm-pb-30px md-pt-0" data-anime='{ "el": "childs", "translateY": [100, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <span class="fs-14 lh-20 fw-500 text-uppercase text-dark-gray text-decoration-line-bottom d-inline-block mb-20px">Get in touch with us</span>
                        <h2 class="h1 ls-minus-2px alt-font text-dark-gray mb-30px outside-box-right-10 xl-outside-box-right-25 lg-me-0">Let's talk about something more interesting!</h2>
                        <a href="#down-section" class="btn btn-medium btn-dark-gray btn-hover-animation-switch btn-box-shadow section-link">
                            <span> 
                                <span class="btn-text">Let's Talk</span>
                                <span class="btn-icon"><i class="feather icon-feather-message-circle"></i></span>
                                <span class="btn-icon"><i class="feather icon-feather-message-circle"></i></span>
                            </span>
                        </a>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 ps-50px sm-ps-15px sm-mb-30px">
                        <div class="position-relative">
                            <img src="{% static 'images/contact/contact-sec.png' %}" class="w-100 position-relative z-index-1" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)" alt="">
                            <img src="{% static 'images/demo-clothing-store-contact-03.png' %}" class="position-absolute top-55px right-minus-185px d-none d-md-inline-block" alt="" data-anime='{ "translateX": [-20, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <img src="{% static 'images/demo-clothing-store-contact-02.png' %}" class="position-absolute left-minus-90px lg-left-minus-70px sm-left-minus-60px bottom-50px lg-bottom-minus-30px md-bottom-50px z-index-1 d-none d-sm-flex" alt="" data-anime='{ "translateY": [20, 0], "scale": [0.8, 1], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 align-self-end ps-60px pt-50px pb-30px lg-p-15px position-relative">
                        <h4 class="alt-font ls-minus-1px text-dark-gray mb-15px">Get in touch</h4>
                        <span class="fw-500 text-dark-gray mb-5px d-block">Trendo the Unique Fashion</span>
                        <p class="w-50 mb-10px xl-w-80 lg-w-100">Madrasabazar, Koduvally, Kerala, India</p>
                        <a href="" target="_blank" class="fs-13 text-dark-gray text-uppercase fw-600">
                            <span class=""><i class="feather icon-feather-map-pin fs-14 me-5px"></i>View on google map</span> 
                        </a>
                        <div class="separator-line-1px bg-extra-medium-gray w-70 mt-25px mb-25px md-w-100"></div>
                        <span class="fw-500 text-dark-gray d-block mb-5px">Customer support</span>
                        <div class="d-block">
                            <span class="text-dark-gray">Email:</span> 
                            <a class="text-dark-gray" href="mailto:trendotheuniquefashion@gmail.com">trendotheuniquefashion@gmail.com</a>
                        </div>
                        <div class="d-block">
                            <span class="text-dark-gray">Phone:</span> 
                            <a class="text-dark-gray" href="tel:+919562834762">+91 9562834762</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alt-font fs-300 xl-fs-250 lg-fs-200 sm-fs-150 lh-200 ls-minus-10px sm-ls-minus-5px text-light-medium-gray text-white-space-nowrap mt-minus-90px position-relative z-index-minus-1 text-center" data-bottom-top="transform: translate3d(-50px, 0px, 0px);" data-top-bottom="transform: translate3d(50px, 0px, 0px);">contact us</div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="p-0 h-500px sm-h-350px overlap-height" id="location">
            <div class="container-fluid h-100 overlap-gap-section">
                <div class="row justify-content-center h-100">
                    <div class="col-12 p-0">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3911.859231982481!2d75.8925496748137!3d11.34499088884045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65da82003c6ed%3A0x7b7a97f39f739177!2sMoonnamannil%20house!5e0!3m2!1sen!2sin!4v1768159433835!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section --> 
        <!-- start section -->
        <section class="pb-0">
            <div class="container overlap-section overlap-section-three-fourth" data-anime='{"el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 800, "delay": 500, "staggervalue": 150, "easing": "easeOutQuad" }'> 
                <div class="row row-cols-md-1 justify-content-center">
                    <div class="col-12">
                        <div id="down-section" class="bg-white box-shadow-double-large pt-7 pb-8 lg-p-6 cover-background" style="background-image: url({% static 'images/demo-clothing-store-contact-form-bg.jpg' %})">
                            <div class="row justify-content-center g-0">
                                <div class="col-xl-6 col-10">
                                    <h3 class="alt-font text-dark-gray ls-minus-2px mb-50px xs-mb-35px">How we can help you?</h3>
                                </div>
                                <div class="col-2 text-end" data-anime='{ "translateY": [30, 0], "translateX": [-30, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                    <i class="bi bi-envelope-open icon-extra-large text-dark-gray"></i>
                                </div>
                            </div>
                            <div class="row justify-content-center g-0">
                                <div class="col-xl-8">
                                    <!-- start contact form -->
                                    <form id="contactForm" method="post" action="{% url 'contact' %}" class="contact-form-style-03">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1" class="form-label fs-16 fw-500 text-dark-gray mb-0">Enter your name*</label>
                                                <div class="position-relative form-group mb-25px">
                                                    <span class="form-icon"><i class="bi bi-emoji-smile text-dark-gray"></i></span>
                                                    <input class="fs-16 ps-0 border-radius-0px border-color-dark-gray bg-transparent required" id="exampleInputEmail1" type="text" name="name" placeholder="What's your good name?" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1" class="form-label fs-16 fw-500 text-dark-gray mb-0">Phone number</label>
                                                <div class="position-relative form-group mb-25px">
                                                    <span class="form-icon"><i class="bi bi-telephone text-dark-gray"></i></span>
                                                    <input class="fs-16 ps-0 border-radius-0px border-color-dark-gray bg-transparent" id="exampleInputEmail3" type="tel" name="phone" placeholder="Enter your phone number" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="exampleInputEmail1" class="form-label fs-16 fw-500 text-dark-gray mb-0">Enter your email*</label>
                                                <div class="position-relative form-group mb-25px">
                                                    <span class="form-icon"><i class="bi bi-envelope text-dark-gray"></i></span>
                                                    <input class="fs-16 ps-0 border-radius-0px border-color-dark-gray bg-transparent required" id="exampleInputEmail2" type="email" name="email" placeholder="Enter your email address" />
                                                </div>
                                            </div>
                                            <div class="col-12 mb-35px">
                                                <label for="exampleInputEmail1" class="form-label fs-16 fw-500 text-dark-gray mb-0">Your message</label>
                                                <div class="position-relative form-group form-textarea mb-0"> 
                                                    <textarea class="fs-16 ps-0 border-radius-0px border-color-dark-gray bg-transparent" name="comment" placeholder="Describe about your message" rows="4"></textarea>
                                                    <span class="form-icon"><i class="bi bi-chat-square-dots text-dark-gray"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-8 sm-mb-30px text-center text-md-start">
                                                <p class="mb-0 fs-15 lh-24 w-70 lg-w-100">We are committed to protecting your privacy. We will never collect information about you without your explicit consent.</p>
                                            </div>
                                            <div class="col-md-4 text-center text-md-end mt-5px">
                                                <input id="exampleInputEmail5" type="hidden" name="redirect" value="">
                                                <button class="btn btn-dark-gray btn-small btn-box-shadow fw-500" type="submit">Send message</button>
                                            </div>
                                            <div class="col-12 text-center">
                                                <div id="formResult" class="form-results mt-20px"></div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- end contact form -->
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center elements-social social-icon-style-06">
                        <h6 class="alt-font ls-minus-1px text-dark-gray mb-20px" data-anime='{ "el": "childs", "translateY": [100, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>Follow the style @Valmoñ</h6>
                        <ul class="extra-large-icon alt-font" data-anime='{ "el": "childs", "translateX": [10, 0], "opacity": [0,1], "duration": 300, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <li><a class="facebook" href="https://www.facebook.com" target="_blank"><span class="brand-label text-dark-gray">Fb.</span><span class="brand-icon fa-brands fa-facebook-f"></span></a></li>
                            <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><span class="brand-label text-dark-gray">Db.</span><span class="brand-icon fa-brands fa-dribbble"></span></a></li>
                            <li><a class="twitter" href="http://www.twitter.com" target="_blank"><span class="brand-label text-dark-gray">Tw.</span><span class="brand-icon fa-brands fa-x-twitter"></span></a></li>
                            <li><a class="behance" href="http://www.behance.com" target="_blank"><span class="brand-label text-dark-gray">Be.</span><span class="brand-icon fa-brands fa-behance"></span></a></li> 
                            <li><a class="pinterest" href="https://in.pinterest.com" target="_blank"><span class="brand-label text-dark-gray">Pt.</span><span class="brand-icon fa-brands fa-pinterest-p"></span></a></li> 
                        </ul>
                    </div>
                </div>
            </div>
        </section>        
        
        {% include 'components/footer.html' %}

        <!-- javascript libraries -->
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendors.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
$("#contactForm").submit(function(e){
    e.preventDefault();

    let form = $(this);

    $.ajax({
        url: form.attr("action"),
        type: "POST",
        data: form.serialize(),
        beforeSend: function(){
            $("button[type=submit]").prop("disabled", true);
        },
        success: function(response){

            if(response.status === "success"){
                Swal.fire({
                    icon: "success",
                    title: "Success!",
                    text: response.message,
                    timer: 2000,
                    showConfirmButton: false
                });

                form[0].reset();
            }

            else if(response.status === "error"){
                Swal.fire({
                    icon: "error",
                    title: "Validation Error",
                    text: response.message
                });
            }
        },
        error: function(){
            Swal.fire({
                icon: "error",
                title: "Error",
                text: "Something went wrong. Please try again."
            });
        },
        complete: function(){
            $("button[type=submit]").prop("disabled", false);
        }
    });
});
</script>
        


    </body>
</html>