<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% load static %}
        <title>Trendo - The Unique Fashion</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="Trendo">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logo/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logo/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logo/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/logo/site.webmanifest' %}">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/vendors.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/icon.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
        <link rel="stylesheet" href="{% static 'demos/clothing-store/clothing-store.css' %}" />
    </head>
    <body data-mobile-nav-style="classic">

        {% include 'components/navbar.html' %}

        <!-- start hero banner -->
        <section class="full-screen ipad-top-space-margin position-relative md-h-500px sm-h-400px overflow-hidden on-hover-bw">
            <div class="on-hover-bw-image position-absolute left-0 top-0 h-100 w-100"><img src="{% static 'images/home/home-banner.png' %}" alt="" class="object-fit-cover" /></div>
            <div class="opacity-medium bg-gradient-bottom-dark-transparent"></div>
            <div class="container-fluid h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-xxl-3 col-lg-2 reveal-item-hover d-none d-lg-block">
                        <a href="{% url 'product' %}" class="fs-19 lg-fs-16 text-white text-white-hover text-decoration-line-bottom d-inline-block ms-15 me-15 xl-m-0" data-anime='{ "translateX": [-150, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>Men collection</a>
                        <div class="hover-reveal no-transition d-none d-xl-block">
                            <div class="hover-reveal__inner">
                                <div class="hover-reveal__img"><img src="{% static 'images/home/banner-women-side2.png' %}" alt="" class="border-radius-10px" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-lg-8 text-center reveal-item-hover" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <a class="fs-100 alt-font fw-400 ls-minus-3px text-white mb-0 text-shadow-double-large reveal-action mx-auto d-block xl-w-85 lg-w-100" href="#">Latest fashion brand collection</a>
                    </div>
                    <div class="col-xxl-3 col-lg-2 reveal-item-hover text-end d-none d-lg-block">
                        <a href="{% url 'product' %}" class="fs-19 lg-fs-16 text-white text-white-hover text-decoration-line-bottom d-inline-block ms-15 me-15 xl-m-0" data-anime='{ "translateX": [150, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>Women collection</a>
                        <div class="hover-reveal no-transition d-none d-xl-block">
                            <div class="hover-reveal__inner">
                                <div class="hover-reveal__img"><img src="{% static 'images/home/banner-women-side1.png' %}" alt="trendo" class="border-radius-15px" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center position-absolute bottom-0px w-100 pb-3">
                    <div class="col-auto">
                        <div class="row g-0 align-items-center justify-content-center">
                            <div class="col-12 col-md-auto border-1 text-center text-md-start border-end sm-border-end-0 border-color-transparent-white-very-light pe-25px me-25px sm-pe-0 sm-me-0">
                                <a href="{% url 'product' %}" class="fs-13 text-uppercase text-white d-inline-block" data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>Black friday flat 50% off</a>
                            </div>
                            <div class="col-12 col-md-auto text-center align-items-center d-flex justify-content-center">
                                <a href="{% url 'product' %}" class="fs-13 text-uppercase text-white d-inline-block" data-anime='{ "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>Shop now today</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- start section -->
        <section class="pt-25px pb-25px border-bottom border-color-extra-medium-gray">
            <div class="container-fluid"> 
                <div class="row position-relative">
                    <div class="col swiper swiper-width-auto text-center" data-slider-options='{ "slidesPerView": "auto", "spaceBetween":0, "centeredSlides": true, "speed": 8000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":1, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
                        <div class="swiper-wrapper marquee-slide">
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-22 ls-minus-05px alt-font text-dark-gray"><span class="d-inline-block align-middle ms-20px me-20px">&#42;</span>Big discounts on fashion!</div>
                            </div>
                            <!-- end client item --> 
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-22 ls-minus-05px alt-font text-dark-gray"><span class="d-inline-block align-middle ms-20px me-20px">&#42;</span>Big discounts on fashion!</div>
                            </div>
                            <!-- end client item --> 
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-22 ls-minus-05px alt-font text-dark-gray"><span class="d-inline-block align-middle ms-20px me-20px">&#42;</span>Big discounts on fashion!</div>
                            </div>
                            <!-- end client item -->  
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-22 ls-minus-05px alt-font text-dark-gray"><span class="d-inline-block align-middle ms-20px me-20px">&#42;</span>Big discounts on fashion!</div>
                            </div>
                            <!-- end client item --> 
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-22 ls-minus-05px alt-font text-dark-gray"><span class="d-inline-block align-middle ms-20px me-20px">&#42;</span>Big discounts on fashion!</div>
                            </div>
                            <!-- end client item --> 
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-22 ls-minus-05px alt-font text-dark-gray"><span class="d-inline-block align-middle ms-20px me-20px">&#42;</span>Big discounts on fashion!</div>
                            </div>
                            <!-- end client item -->  
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-22 ls-minus-05px alt-font text-dark-gray"><span class="d-inline-block align-middle ms-20px me-20px">&#42;</span>Big discounts on fashion!</div>
                            </div>
                            <!-- end client item --> 
                             <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-22 ls-minus-05px alt-font text-dark-gray"><span class="d-inline-block align-middle ms-20px me-20px">&#42;</span>Big discounts on fashion!</div>
                            </div>
                            <!-- end client item --> 
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-22 ls-minus-05px alt-font text-dark-gray"><span class="d-inline-block align-middle ms-20px me-20px">&#42;</span>Big discounts on fashion!</div>
                            </div>
                            <!-- end client item -->  
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-22 ls-minus-05px alt-font text-dark-gray"><span class="d-inline-block align-middle ms-20px me-20px">&#42;</span>Big discounts on fashion!</div>
                            </div>
                            <!-- end client item --> 
                        </div> 
                    </div>  
                </div>  
            </div>
        </section>
        
        <!-- start section -->
        <section class="position-relative overflow-hidden pb-0 sm-pt-30px">
            <div class="container">
                <div class="row align-items-center" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 150, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="col-xl-3 col-lg-4 col-md-12 tab-style-05 md-mb-30px sm-mb-20px">
                        <!-- start tab navigation -->
                        <ul class="nav nav-tabs border-0 flex-column align-items-start justify-content-start fs-34 xl-fs-26 sm-fs-22 ls-minus-1px alt-font sm-mb-5px">
                            <li class="nav-item"><a data-bs-toggle="tab" href="#tab_four1" class="nav-link active"><span class="me-10px fs-20">01</span>New Arival</a></li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab_four2"><span class="me-10px fs-20">02</span>Women's wear</a></li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab_four3"><span class="me-10px fs-20">03</span>Men's wear</a></li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab_four4"><span class="me-10px fs-20">04</span>Accessories</a></li>
                        </ul>
                        <!-- end tab navigation -->
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-12">
                        <div class="tab-content">
                            <!-- start tab content -->
                            <div class="tab-pane fade in active show" id="tab_four1">
                                <div class="row align-items-center position-relative">
                                    <img src="{% static 'images/demo-clothing-store-tab-bg-element.jpg' %}" alt="trendo" class="w-auto position-absolute right-0px top-minus-30px d-none d-xl-block" />
                                    <div class="col-xl-7 col-md-6 sm-mb-30px">
                                        <img src="{% static 'images/home/new-arrival.png' %}" alt="new-arrivals" class="w-100" />
                                    </div>
                                    <div class="col-xl-5 col-md-6 text-center text-md-start ps-50px xl-ps-15px position-relative"> 
                                        <div class="mb-10px">
                                            <span class="d-inline-block text-dark-gray align-middle fs-14 fw-500">01</span>
                                            <div class="separator-line-1px w-25px bg-dark-gray d-inline-block align-middle ms-5px me-5px"></div>
                                            <span class="d-inline-block text-dark-gray align-middle text-uppercase fs-14 fw-500">Newest look 2025</span>
                                        </div>
                                        <h2 class="ls-minus-2px alt-font text-dark-gray mb-20px">Discover the newest look.</h2>
                                        <p class="w-80 mb-30px xl-w-100">Step into a world where design meets innovation. Our latest collection redefines modern aesthetics blending style.</p>
                                        <a href="{% url 'product' %}?latest=1" class="btn btn-medium btn-dark-gray btn-hover-animation-switch btn-box-shadow">
                                            <span> 
                                                <span class="btn-text">Shop under</span>
                                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- start tab content -->
                            <div class="tab-pane fade in" id="tab_four2">
                                <div class="row align-items-center position-relative">
                                    <img src="{% static 'images/demo-clothing-store-tab-bg-element.jpg' %}" alt="trendo" class="w-auto position-absolute right-0px top-minus-30px d-none d-xl-block" />
                                    <div class="col-xl-7 col-md-6 sm-mb-30px">
                                        <img src="{% static 'images/home/women-collection.png' %}" alt="women-collection" class="w-100" />
                                    </div>
                                    <div class="col-xl-5 col-md-6 text-center text-md-start ps-50px xl-ps-0 position-relative">
                                        <div class="mb-10px">
                                            <span class="d-inline-block text-dark-gray align-middle fs-14 fw-500">03</span>
                                            <div class="separator-line-1px w-25px bg-dark-gray d-inline-block align-middle ms-5px me-5px"></div>
                                            <span class="d-inline-block text-dark-gray align-middle text-uppercase fs-14 fw-500">Seasonal picks</span>
                                        </div>
                                        <h2 class="ls-minus-2px alt-font text-dark-gray mb-20px">The power of subtle style.</h2>
                                        <p class="w-80 mb-30px xl-w-100">Step into a world where design meets innovation. Our latest collection redefines modern aesthetics blending style.</p>
                                        <a href="{% url 'product' %}" class="btn btn-medium btn-dark-gray btn-hover-animation-switch btn-box-shadow">
                                            <span> 
                                                <span class="btn-text">Shop </span>
                                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- start tab content -->
                            <div class="tab-pane fade in" id="tab_four3">
                                <div class="row align-items-center position-relative">
                                    <img src="{% static 'images/demo-clothing-store-tab-bg-element.jpg' %}" alt="trendo" class="w-auto position-absolute right-0px top-minus-30px d-none d-xl-block" />
                                    <div class="col-xl-7 col-md-6 sm-mb-30px">
                                        <img src="{% static 'images/home/men-collection.png' %}" alt="men-collection" class="w-100" />
                                    </div>
                                    <div class="col-xl-5 col-md-6 text-center text-md-start ps-50px xl-ps-0 position-relative">
                                        <div class="mb-10px">
                                            <span class="d-inline-block text-dark-gray align-middle fs-14 fw-500">02</span>
                                            <div class="separator-line-1px w-25px bg-dark-gray d-inline-block align-middle ms-5px me-5px"></div>
                                            <span class="d-inline-block text-dark-gray align-middle text-uppercase fs-14 fw-500">Latest collection</span>
                                        </div>
                                        <h2 class="ls-minus-2px alt-font text-dark-gray mb-20px">Men's spring collection.</h2>
                                        <p class="w-80 mb-30px xl-w-100">Step into a world where design meets innovation. Our latest collection redefines modern aesthetics blending style.</p>
                                        <!-- <a href="{% url 'product' %}"  class="btn btn-medium btn-dark-gray btn-hover-animation-switch btn-box-shadow" >
                                            <span> 
                                                <span class="btn-text">Shop</span>
                                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                            </span>
                                        </a> -->
                                    </div>
                                </div>
                            </div>

                            <!-- start tab content -->
                            <div class="tab-pane fade in" id="tab_four4">
                                <div class="row align-items-center position-relative">
                                    <img src="{% static 'images/demo-clothing-store-tab-bg-element.jpg' %}" alt="trendo" class="w-auto position-absolute right-0px top-minus-30px d-none d-xl-block" />
                                    <div class="col-xl-7 col-md-6 sm-mb-30px">
                                        <img src="{% static 'images/home/accessories.png' %}" alt="accessories" class="w-100" />
                                    </div>
                                    <div class="col-xl-5 col-md-6 text-center text-md-start ps-50px xl-ps-0 position-relative">
                                        <div class="mb-10px">
                                            <span class="d-inline-block text-dark-gray align-middle fs-14 fw-500">04</span>
                                            <div class="separator-line-1px w-25px bg-dark-gray d-inline-block align-middle ms-5px me-5px"></div>
                                            <span class="d-inline-block text-dark-gray align-middle text-uppercase fs-14 fw-500">Style essentials</span>
                                        </div>
                                        <h2 class="ls-minus-2px alt-font text-dark-gray mb-20px">Refined style, Tiny elements.</h2>
                                        <p class="w-80 mb-30px xl-w-100">Step into a world where design meets innovation. Our latest collection redefines modern aesthetics blending style.</p>
                                        <a href="{% url 'filter_by_category' accessories_category.slug %}" class="btn btn-medium btn-dark-gray btn-hover-animation-switch btn-box-shadow">
                                            <span> 
                                                <span class="btn-text">Shop under</span>
                                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="alt-font fs-225 lg-fs-160 sm-fs-120 lh-140 ls-minus-6px text-light-medium-gray text-white-space-nowrap mt-2 position-relative z-index-minus-1" data-bottom-top="transform: translate3d(-50px, 0px, 0px);" data-top-bottom="transform: translate3d(0px, 0px, 0px);">modern aesthetics</div>
        </section>
        
        <!-- trending products section -->
        <section class="bg-gradient-top-very-light-gray overflow-hidden pb-0">
            <div class="container-fluid">
                <div class="row justify-content-center mb-55px md-mb-50px">
                    <div class="col-lg-6 col-md-8 text-center">
                        <h2 class="alt-font ls-minus-3px text-dark-gray mb-10px">Best Seller Products</h2>
                        <p class="mb-0">“Top Picks Loved by Our Customers”</p>
                    </div>
                </div>
                <div class="row shop-modern">
                    <div class="col-md-12 position-relative">
                        <div class="outside-box-right-5 outside-box-left-5 sm-outside-box-right-35 sm-outside-box-left-35" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                            <div class="swiper overflow-visible" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 20, "loop": true, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "pagination": { "el": ".swiper-pagination-bullets-01", "clickable": true, "dynamicBullets": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 5 }, "768": { "slidesPerView": 4 }, "320": { "slidesPerView": 3 } }, "effect": "slide" }'>
                                <div class="swiper-wrapper align-items-center">
                                    
                                    {% for product in best_seller_products %}
                                    <div class="swiper-slide grid-item">
                                        <div class="shop-box mb-25px sm-mb-0">
                                            <div class="shop-image mb-25px">
                                                <a href="{% url 'product_detail' product.slug %}">
                                                    <img src="{{ product.image1.url }}" alt="{{ product.name }}"> 
                                                    <span class="lable new">New</span>
                                                    <div class="shop-overlay bg-gradient-gray-light-dark-transparent"></div>
                                                </a>
                                                <div class="shop-buttons-wrap">
                                                    <a href="{% url 'product_detail' product.slug %}" class="alt-font btn btn-small btn-box-shadow btn-white btn-round-edge left-icon add-to-cart">
                                                        <i class="feather icon-feather-shopping-bag"></i><span class="quick-view-text button-text">View Product</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="shop-footer text-center">
                                                <a href="{% url 'product_detail' product.slug %}" class="fs-18 text-dark-gray fw-500">{{ product.name }}</a>
                                                <div class="price lh-18 text-dark-gray mt-5px">{% if product.old_price %}<del class="fw-400">₹{{ product.old_price }}</del>{% endif %}₹{{ product.price }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- start section -->
        <section class="p-0">
            <div class="container-fluid"> 
                <div class="row position-relative sm-mt-15px">
                    <div class="col swiper swiper-width-auto text-cente" data-slider-options='{ "slidesPerView": "auto", "spaceBetween":90, "centeredSlides": true, "speed": 45000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":1, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
                        <div class="swiper-wrapper marquee-slide">
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-180 lg-fs-160 md-fs-120 lh-200 alt-font ls-minus-4px text-light-medium-gray">seasonal style collection</div>
                            </div>
                            <!-- end client item --> 
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-180 lg-fs-160 md-fs-120 lh-200 alt-font ls-minus-4px text-light-medium-gray">seasonal style collection</div>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-180 lg-fs-160 md-fs-120 lh-200 alt-font ls-minus-4px text-light-medium-gray">seasonal style collection</div>
                            </div>
                            <!-- end client item --> 
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <div class="fs-180 lg-fs-160 md-fs-120 lh-200 alt-font ls-minus-4px text-light-medium-gray">seasonal style collection</div>
                            </div>
                            <!-- end client item -->                            
                        </div> 
                    </div>  
                </div>  
            </div>
        </section>
        
        <!-- start section -->
        <section class="half-section pb-0 ps-15px pe-15px sm-ps-0 sm-pe-0">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center">
                    {% for category in categories|slice:":3" %}
                        {% for subcategory in category.subcategories.all|slice:":1" %}
                            {% with subcategory.products.first as product %}
                            <div class="col shop-banner-style-01 md-mb-30px">
                                <figure class="m-0 position-relative">
                                    {% if product and product.image1 %}
                                        <img src="{{ product.image1.url }}" class="w-100" alt="{{ product.name }}">
                                    {% elif subcategory.image %}
                                        <img src="{{ subcategory.image.url }}" class="w-100" alt="{{ subcategory.name }}">
                                    {% else %}
                                        <img src="https://placehold.co/610x630" class="w-100" alt="{{ subcategory.name }}">
                                    {% endif %}
                                    <figcaption class="w-100 h-100 bg-dark-gray-transparent-medium d-flex flex-column text-center justify-content-center align-items-center p-30px lg-ps-20px lg-pe-20px position-absolute top-0 start-0">
                                        <span class="banner-subtitle fs-14 fw-500 ls-1px text-uppercase text-white text-decoration-line-bottom d-inline-block mb-15px">
                                            {{ category.name }}
                                        </span>
                                        <h3 class="banner-title alt-font ls-minus-1px fw-400 text-white w-80 xxl-w-100">
                                            {% if product %}
                                                {{ product.name }}
                                            {% else %}
                                                {{ subcategory.name }}
                                            {% endif %}
                                        </h3>
                                        <div class="banner-btn">
                                            <a href="{% url 'filter_by_subcategory' subcategory.slug %}" class="btn btn-medium btn-white btn-hover-animation-switch btn-box-shadow fw-600">
                                                <span> 
                                                    <span class="btn-text">View collection</span>
                                                    <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                                    <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            {% endwith %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>
        
        <!-- start section -->
        <section class="overflow-hidden py-0 ps-15px pe-15px">
            <div class="container-fluid">
                <div class="pt-50px pb-50px border-bottom border-color-extra-medium-gray md-border-bottom-0 md-pb-0">
                    <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <!-- start features box item -->
                        <div class="col d-flex justify-content-center icon-with-text-style-08 text-center border-end md-border-bottom xs-border-end-0 border-color-extra-medium-gray">
                            <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle md-pb-30px">
                                <div class="feature-box-icon me-15px">  
                                    <img src="{% static 'images/demo-clothing-store-icon-01.svg' %}" alt=""/>
                                </div>
                                <div class="feature-box-content">
                                    <span class="fs-18 fw-500 text-dark-gray d-block">Free shipping</span>
                                    <span>Free shipping on first order</span>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                        <!-- start features box item -->
                        <div class="col d-flex justify-content-center icon-with-text-style-08 text-center border-end md-border-bottom md-border-end-0 border-color-extra-medium-gray">
                            <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle md-pb-30px sm-pt-30px">
                                <div class="feature-box-icon me-15px">  
                                    <img src="{% static 'images/demo-clothing-store-icon-02.svg' %}" alt=""/>
                                </div>
                                <div class="feature-box-content">
                                    <span class="fs-18 fw-500 text-dark-gray d-block">Secure payment</span>
                                    <span>100% protected payment</span>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                        <!-- start features box item -->
                        <div class="col d-flex justify-content-center icon-with-text-style-08 text-center border-end xs-border-bottom xs-border-end-0 border-color-extra-medium-gray">
                            <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle md-pt-30px sm-pb-30px">
                                <div class="feature-box-icon me-15px">  
                                    <img src="{% static 'images/demo-clothing-store-icon-03.svg' %}" alt=""/>
                                </div>
                                <div class="feature-box-content">
                                    <span class="fs-18 fw-500 text-dark-gray d-block">15 days returns</span>
                                    <span>Moneyback guarantee</span>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                        <!-- start features box item -->
                        <div class="col d-flex justify-content-center icon-with-text-style-08 text-center">
                            <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle md-pt-30px">
                                <div class="feature-box-icon me-15px">  
                                    <img src="{% static 'images/demo-clothing-store-icon-04.svg' %}" alt=""/>
                                </div>
                                <div class="feature-box-content">
                                    <span class="fs-18 fw-500 text-dark-gray d-block">Online support</span>
                                    <span>24/7 days a week support</span>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                    </div>
                </div>
            </div>
        </section>
        
        <!-- start section --> 
        <section class="position-relative">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-end">
                    <div class="col-xxl-3 col-lg-4 col-md-10 position-relative z-index-2 text-center text-lg-start md-mb-50px" data-anime='{ "el": "childs", "translateY": [100, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="mb-20px">
                            <span class="d-inline-block text-dark-gray align-middle fs-14 fw-500">2025</span>
                            <div class="separator-line-1px w-25px bg-dark-gray d-inline-block align-middle ms-5px me-5px"></div>
                            <span class="d-inline-block text-dark-gray align-middle text-uppercase fs-14 fw-500">The newest look</span>
                        </div>
                        <h2 class="fs-80 xl-fs-60 lh-75 alt-font text-dark-gray ls-minus-2px mb-20px outside-box-right-15 xxl-outside-box-right-20 xl-outside-box-right-10 lg-outside-box-right-20 md-me-0">The future of fashion is here.</h2>
                        <p class="w-90 mb-30px xl-w-100">Step into a world where design meets innovation. Our latest collection redefines modern aesthetics blending style, functionality and bold creativity.</p>
                        <a href="{% url 'product' %}" class="btn btn-medium btn-dark-gray btn-hover-animation-switch btn-box-shadow">
                            <span> 
                                <span class="btn-text">View collection</span>
                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                            </span>
                        </a>
                        <div class="d-flex align-items-center justify-content-center p-25px cover-background h-210px w-370px xxl-w-100 mt-14 md-mt-50px sm-mt-30px" style="background-image: url('https://placehold.co/370x212')">
                            <a href="" class="position-relative d-inline-block text-center bg-white rounded-circle video-icon-box video-icon-large popup-youtube" aria-label="video-link">
                                <span>
                                    <span class="video-icon">
                                        <i class="bi bi-play-fill text-dark-gray"></i>
                                        <span class="video-icon-sonar">
                                            <span class="video-icon-sonar-bfr bg-white opacity-9"></span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>                      
                    </div>
                    <div class="col-lg-4 col-md-10 col-sm-11 offset-lg-0 offset-lg-1 md-mb-50px sm-mb-30px" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <img src="{% static 'images/home/collection-main-02.png' %}" class="w-100 position-relative z-index-1" alt="trendo">
                    </div>
                    <div class="col-lg-3 col-md-10" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <img src="{% static 'images/home/collection-main-01.jpg' %}" class="w-100" alt="new">
                    </div>
                </div>
            </div>
        </section>
        
        <!-- featured products section -->
        <section class="ps-15px pe-15px sm-pe-0 sm-ps-0">
            <div class="container-fluid">
                <div class="row justify-content-center mb-40px md-mb-10px">
                    <div class="col-xl-6 col-lg-12 text-center">
                        <h2 class="alt-font ls-minus-3px text-dark-gray mb-10px">Featured products</h2>
                        <p class="mb-0">Explore trending products chosen by our customers.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="position-sticky top-0px">
                            <div class="vh-100 sm-h-auto pt-30px pb-30px">
                                <img src="{% static 'images/home/featured-main.png' %}" class="object-fit-cover h-100 w-100" alt="featured" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt-15px sm-pt-0">
                        <ul class="shop-modern shop-wrapper grid-loading grid grid-2col lg-grid-2col md-grid-1col sm-grid-1col xs-grid-1col gutter-extra-large text-center" data-anime='{ "el": "childs", "translateY": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                            <li class="grid-sizer"></li>
                            
                            {%  for product in featured_products %}
                            <li class="grid-item">
                                <div class="shop-box">
                                    <div class="shop-image mb-25px">
                                        <a href="{% url 'product_detail' product.slug %}">
                                            <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}"> 
                                            <div class="shop-overlay bg-gradient-gray-light-dark-transparent"></div>
                                        </a>
                                        <div class="shop-buttons-wrap">
                                            <a href="{% url 'product_detail' product.slug %}" class="alt-font btn btn-small btn-box-shadow btn-white btn-round-edge left-icon add-to-cart">
                                                <i class="feather icon-feather-shopping-bag"></i><span class="quick-view-text button-text">View Product</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="shop-footer text-center">
                                        <a href="{% url 'product_detail' product.slug %}" class="fs-18 text-dark-gray fw-500">{{ product.name }}</a>
                                        <div class="price lh-18 text-dark-gray mt-5px">{% if product.old_price %}<del class="fw-400">₹{{product.old_price}}</del>{% endif %}₹{{product.price}}</div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- testimonials section -->
        <section class="pt-0">
            <div class="container">
                <div class="row justify-content-center">  
                    <div class="col-xxl-8 col-lg-10 text-center">
                        <span class="fs-14 lh-20 fw-500 text-uppercase text-dark-gray mb-20px d-inline-block">Trusted by people</span>
                    </div>
                    <div class="col-xxl-8 col-lg-10 testimonials-style-10 position-relative ps-4 pe-4 swiper-number-pagination-progress" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="swiper magic-cursor pb-35px" data-slider-options='{"slidesPerView": 1, "loop": true, "keyboard": { "enabled": true, "onlyInViewport": true }, "autoplay": { "delay": 40000000000000, "disableOnInteraction": false }, "pagination": { "el": ".swiper-number-line-pagination", "clickable": true }, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav", "effect": "fade" } }' data-swiper-number-pagination-progress="true">
                            <div class="swiper-wrapper">

                                {% for testimonial in testimonials %}
                                <div class="swiper-slide">
                                    <div class="d-flex flex-column">
                                        <div class="align-self-center text-center w-90 last-paragraph-no-margin"> 
                                            <h4 class="alt-font lh-48 ls-minus-1px text-dark-gray mb-0">{{ testimonial.review }} <span class="fw-500">@ {{ testimonial.name }}</span></h4>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>  
                        </div>
                        <!-- start slider pagination -->
                        <div class="swiper-pagination-wrapper d-flex align-items-center justify-content-center">
                            <div class="number-prev fs-14 fw-500 text-dark-gray w-40px"></div>
                            <div class="swiper-pagination-progress bg-dark-gray-transparent-light w-300px">
                                <span class="swiper-progress"></span>
                            </div>
                            <div class="number-next fs-14 fw-500 text-dark-gray w-40px"></div>    
                        </div>
                        
                        <!-- start slider navigation -->
                        <div class="swiper-button-previous-nav swiper-button-prev icon-medium left-0px"><i class="bi bi-arrow-left icon-very-medium text-dark-gray"></i></div>
                        <div class="swiper-button-next-nav swiper-button-next icon-medium right-0px"><i class="bi bi-arrow-right icon-very-medium text-dark-gray"></i></div>

                    </div> 
                </div>
            </div>
        </section>
        
        <!-- trending blogs section -->
        <section class="bg-light-medium-gray pb-0"> 
            <div class="container">
                <div class="row justify-content-center mb-45px">
                    <div class="col-lg-7 text-center">
                        <h2 class="alt-font ls-minus-2px text-dark-gray mb-5px">Trending Blogs</h2>
                        <p class="mb-0">Explore more items you'll love.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="blog-classic blog-wrapper grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large appear anime-child anime-complete" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:100, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }" style="position: relative; height: 372.047px;">
                            <li class="grid-sizer"></li>

                            {% for blog in blogs %}
                            <li class="grid-item">
                                <div class="card bg-transparent border-0 h-100">
                                    <div class="blog-image position-relative overflow-hidden">
                                        <a href="{% url 'blog_detail' blog.slug %}"><img src="{{ blog.image.url }}" alt="blog" /></a>
                                    </div>
                                    <div class="card-body px-0 pt-30px pb-30px sm-pb-15px">
                                        <span class="mb-10px d-block"><a href="#" class="blog-date">{{ blog.posted_on }}</a></span>
                                        <a href="{% url 'blog_detail' blog.slug %}" class="card-title fs-18 fw-500 text-dark-gray d-inline-block w-75 xl-w-85 lg-w-100">{{ blog.title }}</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- insta follow section -->
        <section class="position-relative bg-gradient-top-very-light-gray ps-15px pe-15px sm-ps-0 sm-pe-0">
            <div class="container-fluid">
                <div class="row mb-60px md-mb-50px">
                    <div class="col-12 text-center">
                        <h2 class="alt-font ls-minus-3px text-dark-gray mb-0">Follow us @trendo_the_unique_fashion</h2>
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 instagram-follow-api position-relative">
                    {% for post in insta_post %}
                    <div class="col instafeed-grid md-mb-30px">
                        <figure class="border-radius-0px"><a href="{% if post.insta_post_link %}{{ post.insta_post_link }}{% else %}#{% endif %}" target="_blank"><img src="{{ post.insta_post_image.url }}" class="insta-image" alt="{{ post.id }}"><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>  
                    {% endfor %}
                </div>
            </div>
        </section>

        {% include 'components/footer.html' %}

        <!-- javascript libraries -->
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendors.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>