<!doctype html>
<html class="no-js" lang="en">
<head>
    {% load static %}
    <title>Email Sent</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/favicon.ico' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/vendors.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/icon.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
    <link rel="stylesheet" href="{% static 'demos/clothing-store/clothing-store.css' %}" />
</head>

<body data-mobile-nav-style="classic">

{% include 'components/navbar.html' %}

<!-- Email Sent Section -->
<section class="padding-290">
    <div class="container">
        <div class="row g-0 justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-10 contact-form-style-04 text-center"
                 data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay":100 }'>

                <span class="fs-26 xs-fs-24 alt-font fw-500 text-dark-gray mb-15px d-block">
                    Check your email
                </span>

                <p class="mb-25px fs-15">
                    If an account exists with the email you entered,
                    a password reset link has been sent to your inbox.
                </p>

                <!-- Optional Button -->
                <a href="{% url 'user_login' %}"
                   class="btn btn-medium btn-round-edge btn-dark-gray btn-box-shadow">
                   Back to Login
                </a>

            </div>
        </div>
    </div>
</section>

{% include 'components/footer.html' %}

<!-- JS -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/vendors.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>