<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% load static %}
        <title>Trendo - The Unique Fashion</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="Trendo">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logo/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logo/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logo/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/logo/site.webmanifest' %}">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="{% static 'css/vendors.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/icon.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
        <link rel="stylesheet" href="{% static 'demos/clothing-store/clothing-store.css' %}" />
        <style>
            
        </style>
    </head>
    <body data-mobile-nav-style="classic">
        
        {% include 'components/navbar.html' %}
        
        <!-- start page title -->
        <section class="page-title-center-alignment ipad-top-space-margin cover-background position-relative py-0" style="background-image: url({% static 'images/banners/shop-banner.webp' %})">
            <div class="container">
                <div class="row flex-column align-items-center justify-content-center h-500px md-h-400px sm-h-300px">
                    <div class="col-12 text-center position-relative page-title-extra-large">
                        <h1 class="alt-font ls-minus-1px text-white d-inline-block mb-10px mt-3 md-mt-0px">Shop</h1>
                    </div>
                    <div class="col-12 breadcrumb breadcrumb-style-01 text-white d-flex justify-content-center">
                        <ul>
                            <li><a href="{% url 'home' %}" class="text-white">Home</a></li> 
                            <li>Shop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row flex-row-reverse"> 
                    <div class="col-xxl-10 col-lg-9 ps-5 md-ps-15px md-mb-60px">
                        {% if query %}
                            <p class="mb-20px">
                                Showing results for: 
                                <strong>"{{ query }}"</strong>
                            </p>
                        {% endif %}
                        <ul class="shop-modern shop-wrapper grid-loading grid grid-4col xl-grid-3col sm-grid-2col xs-grid-2col gutter-extra-large text-center" data-anime='{ "el": "childs", "translateY": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                            <li class="grid-sizer"></li>
                            
                            {% if page_obj %}
                                {% for product in page_obj %}
                                    <li class="grid-item">
                                        <div class="shop-box mb-25px">
                                            <div class="shop-image mb-25px">
                                                <a href="{% url 'product_detail' product.slug %}">
                                                    {% if product.image1 %}
                                                        <img src="{{ product.image1.url }}" alt="{{ product.name }}">
                                                    {% else %}
                                                        <img src="{% static 'images/no-image.png' %}" alt="No image">
                                                    {% endif %}
                                                    <div class="shop-overlay bg-gradient-gray-light-dark-transparent"></div>
                                                </a>
                                                <div class="shop-buttons-wrap">
                                                    <a href="{% url 'product_detail' product.slug %}" class="alt-font btn btn-small btn-box-shadow btn-white btn-round-edge left-icon add-to-cart">
                                                        <i class="feather icon-feather-shopping-bag"></i>
                                                        <span class="quick-view-text button-text">View Product</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="shop-footer text-center">
                                                <a href="{% url 'product_detail' product.slug %}" class="text-dark-gray fw-500">{{ product.name }}</a>
                                                <div class="price lh-18 text-dark-gray mt-5px">
                                                    {% if product.old_price %}
                                                        <del class="fw-400">₹{{ product.old_price }}</del>
                                                    {% endif %}
                                                    ₹{{ product.price }}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <!-- ✅ NO PRODUCT MESSAGE -->
                                <li style="grid-column: 1 / -1;">
                                    <div class="text-center py-5">
                                        <h4 class="text-dark-gray">No products found</h4>
                                        <p>Try changing filters or search.</p>
                                    </div>
                                </li>
                            {% endif %}
                            
                        </ul>
                        <!-- pagination -->
                        <div class="w-100 d-flex mt-3 justify-content-center md-mt-30px">
                            <ul class="pagination pagination-style-01 fs-13 fw-500 mb-0">

                                <!-- First -->
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                    href="?page=1
                                    {% if query %}&q={{ query }}{% endif %}
                                    {% if selected_category %}&category={{ selected_category }}{% endif %}
                                    {% if selected_size %}&size={{ selected_size }}{% endif %}
                                    {% if min_price %}&min_price={{ min_price }}{% endif %}
                                    {% if max_price %}&max_price={{ max_price }}{% endif %}">
                                    First
                                    </a>
                                </li>
                                {% endif %}

                                <!-- Previous -->
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                    href="?page={{ page_obj.previous_page_number }}
                                    {% if query %}&q={{ query }}{% endif %}
                                    {% if selected_category %}&category={{ selected_category }}{% endif %}
                                    {% if selected_size %}&size={{ selected_size }}{% endif %}
                                    {% if min_price %}&min_price={{ min_price }}{% endif %}
                                    {% if max_price %}&max_price={{ max_price }}{% endif %}">
                                        <i class="feather icon-feather-arrow-left fs-18 d-xs-none"></i>
                                    </a>
                                </li>
                                {% endif %}

                                <!-- Page Numbers -->
                                {% for num in page_obj.paginator.page_range %}
                                    {% if num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
                                        {% if page_obj.number == num %}
                                            <li class="page-item active">
                                                <span class="page-link">{{ num }}</span>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                href="?page={{ num }}
                                                {% if query %}&q={{ query }}{% endif %}
                                                {% if selected_category %}&category={{ selected_category }}{% endif %}
                                                {% if selected_size %}&size={{ selected_size }}{% endif %}
                                                {% if min_price %}&min_price={{ min_price }}{% endif %}
                                                {% if max_price %}&max_price={{ max_price }}{% endif %}">
                                                {{ num }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                <!-- Next -->
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                    href="?page={{ page_obj.next_page_number }}
                                    {% if query %}&q={{ query }}{% endif %}
                                    {% if selected_category %}&category={{ selected_category }}{% endif %}
                                    {% if selected_size %}&size={{ selected_size }}{% endif %}
                                    {% if min_price %}&min_price={{ min_price }}{% endif %}
                                    {% if max_price %}&max_price={{ max_price }}{% endif %}">
                                        <i class="feather icon-feather-arrow-right fs-18 d-xs-none"></i>
                                    </a>
                                </li>
                                {% endif %}

                                <!-- Last -->
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                    href="?page={{ page_obj.paginator.num_pages }}
                                    {% if query %}&q={{ query }}{% endif %}
                                    {% if selected_category %}&category={{ selected_category }}{% endif %}
                                    {% if selected_size %}&size={{ selected_size }}{% endif %}
                                    {% if min_price %}&min_price={{ min_price }}{% endif %}
                                    {% if max_price %}&max_price={{ max_price }}{% endif %}">
                                    Last
                                    </a>
                                </li>
                                {% endif %}

                            </ul>
                            
                        </div>

                    </div>
                    <div class="col-xxl-2 col-lg-3 shop-sidebar" data-anime='{ "el": "childs", "translateY": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        
                        <!-- categories filter -->
                        <div class="mb-30px">
                            <span class="fw-500 text-dark-gray d-block mb-10px">Filter by categories</span>
                            <ul class="shop-filter category-filter fs-15">

                                <li>
                                    <a href="{% url 'product' %}" class="{% if not selected_category %}fw-600{% endif %}">
                                        <span class="product-cb product-category-cb"></span>
                                        All
                                    </a>
                                </li>

                                {% for cat in categories %}
                                <li>
                                    <a href="?category={{ cat.slug }}{% if selected_size %}&size={{ selected_size }}{% endif %}"
                                    class="{% if selected_category == cat.slug %}fw-600{% endif %}">
                                        <span class="product-cb product-category-cb"></span>
                                        {{ cat.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <!-- size filter -->
                        <div class="mb-30px">
                            <span class="fw-500 text-dark-gray d-block mb-10px">Filter by size</span>
                            <ul class="shop-filter price-filter fs-15">

                                <li>
                                    <a href="{% url 'product' %}" class="{% if not selected_size %}fw-600{% endif %}">
                                        <span class="product-cb product-category-cb"></span>
                                        All
                                    </a>
                                </li>

                                {% for size in sizes %}
                                <li>
                                    <a href="?size={{ size.name }}{% if selected_category %}&category={{ selected_category }}{% endif %}"
                                    class="{% if selected_size == size.name %}fw-600{% endif %}">
                                        <span class="product-cb product-category-cb"></span>
                                        {{ size.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <!-- price filter  -->
                        <div class="mb-30px">
                            <span class="fw-500 text-dark-gray d-block mb-10px">Filter by price</span>

                            <form method="get" id="priceFilterForm">

                                {% if selected_category %}
                                <input type="hidden" name="category" value="{{ selected_category }}">
                                {% endif %}

                                {% if selected_size %}
                                <input type="hidden" name="size" value="{{ selected_size }}">
                                {% endif %}

                                <div class="price-slider">
                                    <input type="range"
                                        id="minPrice"
                                        name="min_price"
                                        min="0"
                                        max="10000"
                                        step="100"
                                        value="{{ min_price|default:0 }}">

                                    <input type="range"
                                        id="maxPrice"
                                        name="max_price"
                                        min="0"
                                        max="10000"
                                        step="100"
                                        value="{{ max_price|default:10000 }}">
                                </div>

                                <div class="d-flex justify-content-between mt-10px">
                                    <span>₹<span id="minPriceValue">{{ min_price|default:0 }}</span></span>
                                    <span>₹<span id="maxPriceValue">{{ max_price|default:10000 }}</span></span>
                                </div>

                                <button type="submit" class="btn btn-small btn-dark-gray mt-15px w-100">
                                    Apply
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        
        {% include 'components/footer.html' %}
        <!-- price filter -->
        <script>
            const minSlider = document.getElementById("minPrice");
            const maxSlider = document.getElementById("maxPrice");
            const minValue = document.getElementById("minPriceValue");
            const maxValue = document.getElementById("maxPriceValue");

            function updateValues() {
                if (parseInt(minSlider.value) > parseInt(maxSlider.value)) {
                    minSlider.value = maxSlider.value;
                }
                minValue.innerText = minSlider.value;
                maxValue.innerText = maxSlider.value;
            }

            minSlider.addEventListener("input", updateValues);
            maxSlider.addEventListener("input", updateValues);

            updateValues();
        </script>


        <!-- javascript libraries -->
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendors.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>